/*Color Schemes:
-Moss Green #878A58
-Bone #E8DED1
-Old Lavender #6A5D7B
-English Violet #5D4A66
-Black #000000

*/
/** Grid system - https://www.w3schools.com/css/css_rwd_grid.asp **/
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
    box-sizing: border-box;
}



[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
html {    
    color: black;
    font-family:'Quicksand', sans-serif;
    font-size: 62.5%;
    line-height: 1.4rem;
}

body {
    line-height: 1.4rem;
    background-color: #E8DED1;
    background-image: repeating-linear-gradient(30deg,
                  hsla(0,0%,100%,.1),
                  hsla(0,0%,100%,.1) 15px,
                  transparent 0, transparent 30px);
   
}
#HomePage{
  margin-top: 2em;
  margin: 2 auto;
}
.bottomFeed{
 height: 100vh;
  min-height: calc(100vh - 4rem);
}
.biggerNav{
  padding: 1rem 1rem; 
  font-size: 2rem;
}
.navChoices{
  font-size: 2rem;
}
.portrait-img{
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
    
}
.contactLinks {
  text-decoration:none;
  color: #878A58;
}
.contactLinks:hover{
  text-decoration:none;
  color: #6A5D7B;
}
h1 {
  font-weight: 500;
  font-size: 5rem;
  line-height: 1.2;
  text-align: center;
  color: #878A58;
  letter-spacing: -0.05em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
 
   
}

h2 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.1rem;
    color: black;
    text-align: center;
}

h3 {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.1rem;
    text-align: center;
    color: #157187;
}

p {
    font-size: 1.4rem;
}

@media only screen and (min-width: 992px) {
  .typewriter h1 {
    overflow: hidden;
    border-right: .15em solid #878A58; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .10em; 
    padding-bottom: 0.5em;
    animation: 
      typing 4s,
      blink-caret 4s;
      animation-fill-mode: forwards;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to{width: 25%}
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    0% { border-color: #878A58; }
    to{border-color: transparent }
  }
}
  #NavBar{
    padding: 2em 4em 2em 2em;
    
  }
  
  #NavBar li{
    padding: 1rem;
    font-size: 3em;
    text-align: center;
    display: inline;
    
  }
  #NavBar li a{
    text-decoration: none;
    
    color: #6A5D7B;
  }
  #NavBar li a:hover{
    color:#878A58;
    background-color: #E8DED1;
    font-weight: bold;
  }
 #MainBody{
    width: 100%;
    margin: 2em auto 2em;
    padding: 2em 2em 2em;
    background-color: rgba(50, 50, 50, 0.3);
    border: 4mm ridge rgba(198, 202, 127, 0.562);
   
 }
 .divider {
    width: 25%;
    height: 1em;
    border: none;
    background-color: #6A5D7B;
    margin: 0 auto;
    
 }
 #MainBody img{
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius:  2%;
 }
 @media only screen and (max-width: 600px) {
    #MainBody img {
     width: 100%;
    }
  }
 #MainBody p{
    font-size: 2.5rem;
    line-height: 1.4em;
    font-weight: 1.2em;
    text-align: center;
    overflow-wrap: break-word;
 }
 .flex-column{
  float: left;
 }
  /* hide the navbar on scroll */
  .navbar-hide {
    display: none;
}
/* make the navbar sticky */
.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020;
}

.project-col {
  margin-bottom: 30px;
}

.project-img {
  
  object-fit: cover;
}

.project-caption {
  background-color: #f8f9fa;
  padding: 10px;
  text-align: center;
}

.project-caption h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.project-caption p {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.project-caption a {
  margin-top: 10px;
  font-size: 0.8rem;
  padding: 5px 15px;
}
.video-container video,
.iframe-container iframe,
.img-container img {
  height: 250px;
  width: 100%;
}
